# Maven
target/

# IDEs
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Compiled files
*.class
*.log

# Project specific data files (Optional: ignore local database files)
resources/data/*.dat

# OS files
.DS_Store
Thumbs.db
